global
  log /dev/log local0
  log /dev/log local1 notice
  daemon

defaults
  log     global
  mode    tcp
  option  tcplog
  option  dontlognull
  timeout connect 10s
  timeout client  1m
  timeout server  1m

frontend kubernetes-frontend
  bind *:6443
  default_backend kubernetes-backend

backend kubernetes-backend
  option tcp-check
{% for host in groups['control_plane'] %}
  server {{ hostvars[host].inventory_hostname }} {{ hostvars[host].ansible_host }}:6443 check
{% endfor %}

